.credit-card {
    height: 250px;
    width: 377px;
    background-color: blue;
    border-radius: 5%;
    margin: 20px;
}

.credit-card-front .number {
    display: flex;
    font-size: 35px;
    margin-left: 30px;
    padding-top: 100px;
}

.credit-card-front .information-wrapper {
    display: flex;
    font-size: 20px;
    margin-left: 30px;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.credit-card-front .name {
    font-size: 28px;
    margin-left: 30px;
}

p {
    display: inline;
}

.credit-card-back {
    padding-top: 30px;
}

.credit-card-back .magnetic-strip {
    background-color: black;
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.credit-card-back .information-wrapper {
    display: flex;
    margin-left: 15px;
    width: 180px;
    height: 35px;
    background-color: darkgrey;
}

.information-wrapper .name {
    display: flex;
    font-family: "Brush Script MT";
    font-size: 26px;
    margin: 0 0 0 10px;
}

p.number {
    margin: 0;
    padding: 0 0 0 48px;
    font-style: italic;
}